.input{
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #1EAB5FFF;
  transition: .3s;

  &:focus {
    box-shadow: 0 0 5px 0 #1EAB5FFF;
  }
}

.inputWithTitle{
  width: 100%;
}