.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  color: #1EAB5FFF;
  transition: .3s;
  outline: none;
  border: 2px solid #1EAB5FFF;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: #1EAB5FFF;
    border: 2px solid transparent;
    color: #fff;
  }

  &:disabled {
    opacity: .8;
    cursor: not-allowed;
    color: #858588;
    border-color: #858588FF;

    &:hover {
      background: rgba(0, 0, 0, 0);
    }
  }
}

.buttonWithIcon {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  text-decoration: none;
  color: #000;
  transition: .3s;
  background: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  font-weight: 600;

  &:hover, {
    background: #c4c8cb;

    .icon {
      color: #1EAB5FFF;
    }
  }

  &.active {
    background: #1EAB5FFF;
    gap: 0;

    .icon {
      color: #fff;
    }
  }
}

.icon {
  font-size: 20px;
  color: #1EAB5FFF;
  transition: .3s;
}

.buttonText {
  width: 0;
  opacity: 0;
  height: 0;
  transition: width .5s;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .icon {
    color: darkred;
  }

  .buttonText {
    transition: 0s;
  }

  &:hover {
    background: darkred;

    .icon {
      color: #fff;
    }

    .buttonText {
      width: auto;
      height: auto;
      opacity: 1;
    }
  }
}

.alertCloseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0);
  transition: .2s;

  &:active {
    transform: scale(.9);
  }


  .icon {
    width: 100%;
    height: 100%;
    color: #fff;
  }
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  color: #b90202;
  transition: .3s;
  outline: none;
  border: 2px solid #b90202;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: #b90202;
    color: #fff;
  }
}