.contacts{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;

  .contactsContent{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
  }
}